@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Nosifer&family=Noto+Sans+Cuneiform&family=Vampiro+One&display=swap');
/*font-family: "Vampiro One", system-ui;
font-family: "Metal Mania", system-ui;
font-family: "Nosifer", sans-serif;
font-family: "Noto Sans Cuneiform", sans-serif;
CSS HEX
--cornsilk: #FBF3D5ff;
--ochre: #CD782Bff;
--charcoal: #3B5264ff;
--night: #0B0D0Aff;
--charcoal-2: #2F4552ff;

CSS HSL
--cornsilk: hsla(47, 83%, 91%, 1);
--ochre: hsla(29, 65%, 49%, 1);
--charcoal: hsla(206, 26%, 31%, 1);
--night: hsla(100, 13%, 5%, 1);
--charcoal-2: hsla(202, 27%, 25%, 1);
*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    border:0;
    text-align: center;
}
body{
    background-image: linear-gradient(#FBF3D5ff,#CD782Bff);
    height: 100vh;
    font-family: "Nosifer", sans-serif;
}
ul{
    list-style: none;
}
a{
    color: #3B5264ff;text-decoration: none;
}
.logo{
    margin: 0;font-size: 1.45em;color: #3B5264ff;
}
.main-nav{
    margin-top: 5px;
}
.logo a,
.main-nav a{
    padding: 10px 15px;text-transform: uppercase;text-align: center;display: block;
}
.main-nav a{
    color: #2F4552ff;font-size: .99em;
    text-align: center;
    font-family: "Metal Mania", system-ui;
}
.main-nav a:hover{
    color: #0B0D0Aff;
}
.header{
    padding: .5em;
    border:1px solid #ff9505;
    background-color: #ff950588;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    border-radius:5px;
}
#hero{
    background-image: url(../img/2151827517.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    min-height: 500px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero h2{
    color:#ff9505;
    font-size: 1.8rem;
    text-shadow: 2px 2px 6px #2F4552ff;
    font-family: "Metal Mania", system-ui;
    text-align: center;
    
}
/*css grid*/
.container{
    display: grid;
}
/* Responsive images */
img{
    width: 100%;
}
/*css grid*/
.container{
    display: grid;
}
.one{
    min-height: 250px;
    background-color: #3B5264ff;

}
.two{
    min-height: 250px;
    background-color: #FBF3D5ff;
    
}
.three{
    min-height: 250px;
    background-color: #ff9505;
    
}
.four{
    min-height: 250px;
    background-color: #ff950588;
    
}
.five{
    min-height: 250px;
    background-color: #3B5264;
    
}
.six{
    min-height: 250px;
    background-color: #3B5264;
    
}
.seven{
    min-height: 250px;
    background-color: #FBF3D5ff;
    
}
/*Tablet media query*/

@media screen and (min-width: 769px){
    .header,
    .main-nav{
        display: flex;
    }
    .header{
        flex-direction: column;align-items: center;.header{
            width: 80%;margin: 0 auto;max-width: 1150px;
        }
    }
    #hero{
        min-height: 500px;
    }
    .hero h2{
        font-size: 2.1rem;
    }
    .container{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(100px auto);
    }
    .one{
        grid-column: 1/3;
    }
    .two{
        grid-column: 1/2;
    }
    .three{
        grid-column: 2/3;
    }
    .four{
        grid-column: 1/3;
    }
    .five{
        grid-column: 1/3;
    }
    .six{
        grid-column: 1/2;
    }
    .seven{
        grid-column: 2/3;
    }
}/**/
/*comp*/
@media screen and (min-width:1850px){
    .header{
        flex-direction: row;justify-content: space-between;
    }
}
/**/
/*large*/
@media screen and (min-width:1025px){
    .header{
        flex-direction: row;justify-content: space-between;
    }
}
/**/